- for (let i=0; i < sites[categoria].length; i++) {
		a(href="#{sites[categoria][i].href}" target="#{sites[categoria][i].target}")
			button(style="margin-left: 10px;")
				img(src="assets/img/png/sites/#{sites[categoria][i].img}" title="#{sites[categoria][i].description}" alt="#{sites[categoria][i].img}" width=40 height=40)
				br
				span #{sites[categoria][i].title}
- }